<div class="row">
	<div class="col s12 center">
		<h1><%= header %></h1>
		<i class="material-icons large"><%= icon %></i>
		<p><%= text %></p>
		<a class="waves-effect waves-light btn" href="#!" onclick="apretaste.send({'command':'<%= button['href'] %>'})">
			<%= button['caption'] %>
		</a>
	</div>
</div>